<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceBusPOAPortBinding" maxReceivedMessageSize="1000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServiceLineBusPOA/ServiceBusPOAService"
                binding="basicHttpBinding" bindingConfiguration="ServiceBusPOAPortBinding"
                contract="ServiceBusPOA.ServiceBusPOA" name="ServiceBusPOAPort" />
        </client>
    </system.serviceModel>
</configuration>